*.pyc
.ipynb_checkpoints/
build/
*.vdf
*.2mdl
*.swp
pysd.egg*
.vscode/
tests/.coverage
tests/cover/
tests/htmlcov/
.idea/*
docs/_build/*
docs/tables/*.csv                                                           
States/data/*
States/*.csv
States/*.vdf
States/*.cmd
States/data/*.cmd
V78/*
